@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#353842, #353842);
}
::selection {
  color: #fff;
  background: #4671ea;
}

.wrapper textarea {
  width: 100%;
  resize: none;
  height: 59px;
  outline: none;
  padding: 15px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  max-height: 330px;
  caret-color: #4671ea;
  border: 1px solid #bfbfbf;
  margin-top: -10px;
}
textarea::placeholder {
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
textarea:is(:focus, :valid) {
  padding: 14px;
  border: 2px solid #59a8ee;
}
textarea::-webkit-scrollbar {
  width: 0px;
}
