<div class="container">  
    <div class="searchInput"  [class.active]="isActive">  
        <input type="text" placeholder="Find your services" [(ngModel)]="searchText" (keyup)="handleKeyup($event)" (input)="search()">  
        <div class="resultBox">  
            <li *ngFor="let suggestion of filteredSuggestions" (click)="selectSuggestion(suggestion)">{{suggestion}}</li>  
        </div>  
        <div [style.color]="borderColor" class="icon"><i class="fas fa-search"></i></div>  
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">  
    </div>  
</div>  

<div *ngIf="selectedSuggestion" class="selectedSuggestion">  
    {{ selectedSuggestion }}  
    <button (click)="removeSuggestion()">X</button>  
</div>  