body {  
    font-family: Arial, sans-serif;  
    background-color: #ffff;  
    display: flex;  
    justify-content: flex-end;       
    gap: 30px;
    margin-right: 120px; 
}  

.return {
    margin-top: 75px;
}