body {  
    font-family: Arial, sans-serif;  
    background-color: #ffff;  
    margin-top: 95px; 
    display: flex;  
    justify-content: flex-end;  
    align-items: flex-start;     
    gap: 50px;
    position: relative;
} 
.header-container{
    position: absolute;
    left: 0;
    top: 0;
}
  
.logo {  
    width: 100px;  
    display: block;  
    margin: 0 auto;  
}  

