<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./input-page.component.scss">
</head>
<div class="header-container">
    <app-header></app-header>
</div>
<body>
    <div class="user-input">
        <app-button (selectedTheme)="theme = $event"></app-button>
        <app-search-bar></app-search-bar>              
        <app-description-area (descriptionChange)="description = $event"></app-description-area>
        <app-button-generate [theme]="theme" [description]="description"></app-button-generate>
    </div>
    <app-selected-suggestions></app-selected-suggestions>
    <script src="script.js"></script>
</body>

</html>