<!-- <app-header></app-header> -->
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./input-page.component.scss">
</head>

<body>
    <div class="user-input">
        <app-button></app-button>
        <app-search-bar></app-search-bar>              
        <app-description-area></app-description-area>
        <app-button-generate></app-button-generate>
    </div>
    <app-selected-suggestions></app-selected-suggestions>
    <script src="script.js"></script>
</body>

</html>